node_modules
npm-debug.log
*~
*.swp
dist
coverage
/doc
.vscode
.idea
target/*
/manual-test/cookie.txt
/.env
public/plantsandpests.d.ts
public/plantsandpests.js
public/plantsandpests_bg.wasm
public/plantsandpests_bg.wasm.d.ts
